
@{
    ViewBag.Title = "Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Access Denied</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index-2.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Pages</span></li>
                <li><span>Access Denied</span></li>
            </ol>


        </div>
    </header>

    <!-- start: page -->
    <section class="body-error error-inside">
        <div class="center-error">

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="main-error mb-xlg center">
                        <p class="error-explanation text-center" style="color:#3e79cb;font-size:3rem;">Please Contact Product Team for Licensing</p>
                        <i class="fa fa-exclamation-triangle fa-5x" style="color:red"></i>
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end: page -->
</section>

