
@{
    ViewBag.Title = "Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Access Denied</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index-2.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Pages</span></li>
                <li><span>Access Denied</span></li>
            </ol>


        </div>
    </header>

    <!-- start: page -->
    <section class="body-error error-inside">
        <div class="center-error">

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="main-error mb-xlg">
                        <h2 class="error-code text-dark text-center text-weight-semibold m-none" style="font-size:10rem;color:#3e79cb !important; ">Access Denied <i class="fa fa-exclamation-triangle" style="color:red"></i></h2>
                        <p class="error-explanation text-center" style="color:#3e79cb;">Please contact administrator</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end: page -->
</section>

